<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.campus.manage.mapper.CamHealthMapper">
    
    <resultMap type="CamHealth" id="CamHealthResult">
        <result property="studentId"    column="student_id"    />
        <result property="studentName"    column="student_name"    />
        <result property="collegeName"    column="college_name"    />
        <result property="studentClass"    column="student_class"    />
        <result property="punchTime"    column="punch_time"    />
        <result property="tiimePart"    column="tiime_part"    />
        <result property="travel"    column="travel"    />
        <result property="temperature"    column="temperature"    />
        <result property="cough"    column="cough"    />
        <result property="fever"    column="fever"    />
    </resultMap>

    <sql id="selectCamHealthVo">
        select student_id, student_name, college_name, student_class, punch_time, tiime_part, travel, temperature, cough, fever from cam_health
    </sql>

    <select id="selectCamHealthList" parameterType="CamHealth" resultMap="CamHealthResult">
        <include refid="selectCamHealthVo"/>
        <where>  
            <if test="studentName != null  and studentName != ''"> and student_name like concat('%', #{studentName}, '%')</if>
            <if test="collegeName != null  and collegeName != ''"> and college_name like concat('%', #{collegeName}, '%')</if>
            <if test="studentClass != null  and studentClass != ''"> and student_class = #{studentClass}</if>
            <if test="punchTime != null "> and punch_time = #{punchTime}</if>
            <if test="tiimePart != null  and tiimePart != ''"> and tiime_part = #{tiimePart}</if>
            <if test="travel != null  and travel != ''"> and travel = #{travel}</if>
            <if test="temperature != null  and temperature != ''"> and temperature = #{temperature}</if>
            <if test="cough != null  and cough != ''"> and cough = #{cough}</if>
            <if test="fever != null  and fever != ''"> and fever = #{fever}</if>
        </where>
    </select>
    
    <select id="selectCamHealthByStudentId" parameterType="Long" resultMap="CamHealthResult">
        <include refid="selectCamHealthVo"/>
        where student_id = #{studentId}
    </select>
        
    <insert id="insertCamHealth" parameterType="CamHealth" useGeneratedKeys="true" keyProperty="studentId">
        insert into cam_health
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="studentName != null">student_name,</if>
            <if test="collegeName != null">college_name,</if>
            <if test="studentClass != null">student_class,</if>
            <if test="punchTime != null">punch_time,</if>
            <if test="tiimePart != null">tiime_part,</if>
            <if test="travel != null">travel,</if>
            <if test="temperature != null">temperature,</if>
            <if test="cough != null">cough,</if>
            <if test="fever != null">fever,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="studentName != null">#{studentName},</if>
            <if test="collegeName != null">#{collegeName},</if>
            <if test="studentClass != null">#{studentClass},</if>
            <if test="punchTime != null">#{punchTime},</if>
            <if test="tiimePart != null">#{tiimePart},</if>
            <if test="travel != null">#{travel},</if>
            <if test="temperature != null">#{temperature},</if>
            <if test="cough != null">#{cough},</if>
            <if test="fever != null">#{fever},</if>
         </trim>
    </insert>

    <update id="updateCamHealth" parameterType="CamHealth">
        update cam_health
        <trim prefix="SET" suffixOverrides=",">
            <if test="studentName != null">student_name = #{studentName},</if>
            <if test="collegeName != null">college_name = #{collegeName},</if>
            <if test="studentClass != null">student_class = #{studentClass},</if>
            <if test="punchTime != null">punch_time = #{punchTime},</if>
            <if test="tiimePart != null">tiime_part = #{tiimePart},</if>
            <if test="travel != null">travel = #{travel},</if>
            <if test="temperature != null">temperature = #{temperature},</if>
            <if test="cough != null">cough = #{cough},</if>
            <if test="fever != null">fever = #{fever},</if>
        </trim>
        where student_id = #{studentId}
    </update>

    <delete id="deleteCamHealthByStudentId" parameterType="Long">
        delete from cam_health where student_id = #{studentId}
    </delete>

    <delete id="deleteCamHealthByStudentIds" parameterType="String">
        delete from cam_health where student_id in 
        <foreach item="studentId" collection="array" open="(" separator="," close=")">
            #{studentId}
        </foreach>
    </delete>
</mapper>
