<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.campus.manage.mapper.CamNovChinaTotalTodayMapper">
    <!--使用insert，update，delete，select标签写sql-->

    <resultMap id="CamNovChinaTotalTodayResult" type="camNovChinaTotalToday">
        <result property="id" column="id"/>
        <result property="confirm" column="confirm"/>
        <result property="suspect" column="suspect"/>
        <result property="heal" column="heal"/>
        <result property="dead" column="dead"/>
        <result property="severe" column="severe"/>
        <result property="input" column="input"/>
        <result property="incrNoSymptom" column="incr_no_symptom"/>
        <result property="storeconfirm" column="storeconfirm"/>
    </resultMap>

    <sql id="selectCamNovChinaTotalTodayVo">
        select * from cam_nov_china_total_today
    </sql>

    <select id="selectCurrentChinaTotalToday" resultMap="CamNovChinaTotalTodayResult">
        select * from cam_nov_china_total_today WHERE id = (SELECT max(id) from cam_nov_china_total_today)
    </select>


    <insert id="insertChinaTotalToday" parameterType="camNovChinaTotalToday">
        insert into cam_nov_china_total_today
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="confirm != null">confirm,</if>
            <if test="suspect != null">suspect,</if>
            <if test="heal != null">heal,</if>
            <if test="dead != null">dead,</if>
            <if test="severe != null ">severe,</if>
            <if test="input != null ">input,</if>
            <if test="incrNoSymptom != null">incr_no_symptom,</if>
            <if test="storeconfirm != null ">storeconfirm,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="confirm != null">#{confirm},</if>
            <if test="suspect != null">#{suspect},</if>
            <if test="heal != null">#{heal},</if>
            <if test="dead != null">#{dead},</if>
            <if test="severe != null ">#{severe},</if>
            <if test="input != null">#{input},</if>
            <if test="incrNoSymptom != null">#{incrNoSymptom},</if>
            <if test="storeconfirm != null">#{storeconfirm},</if>
        </trim>
    </insert>

</mapper>